/* colors */

$primary_color: #9356dc;
$secondary_color: #ff79da;
$tertiary_color: #99e2d0;
$white_color:white;
$grey_color:#343535;
$gradient: linear-gradient(to bottom right, $secondary_color, 50%, $primary_color);

/*borders & shadows*/

$border_round:25px;
$border_card:20px;
$border_menu:40px;
$border_details:14px;
$shadow: 1px 1px 12px adjust-color($grey_color, $lightness: 60%, );
$shadow_big:1px 1px 16px adjust-color($grey_color, $lightness: 60%, );