@keyframes redheart {
    from {
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0%;
    }

    to {
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 100%;
    }
}

@keyframes width {
    from {
        width: 0;
    }

    to {
        width: 18%;
    }
}

@keyframes icons {
    from {
        font-size: 100%;
    }

    to {
        font-size: 180%;
        rotate: 360deg;
    }
}

@keyframes slidein {
    from {
        margin-top: 5%;
        opacity: 0%;
    }

    to {
        margin-top: 0%;
        opacity: 100%;
    }
}