@keyframes redheart {
    from {
        color: $white_color;
        opacity: 100%;
    }

    to {
        color: $secondary_color;
        opacity: 100%;
    }
}

@keyframes icons {
    from {
        font-size: 100%;
        opacity: 50%;
    }

    to {
        font-size: 180%;
        opacity: 100%;
        rotate: 360deg;
    }
}