@import "variable";
@import "homepage";
@import "menu";


/* GENERAL SETTINGS*/

body,
p,
h1,
h2,
h3,
h4,
ul,
li,
input {
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
li,
button,
input {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    font-weight: 500;
}

h1 {
    font-size: 160%;
}


h2 {
    font-size: 130%;
}

h3,
h4,
p,
input,
a {
    font-size: 100%;
}

h4 {
    font-family: 'Shrikhand', cursive;
    padding: 15px 15px;
}

p {
    font-weight: 300;
}

input {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
    padding: 5px;
}

footer i {
    width: 25px;
    padding: 0px 5px 0px 0px;
}

.howto,
.restaurants,
.header__explore {
    padding: 50px 20px;
}

button {
    box-shadow: $shadow;
    font-size: 90%;
    border-radius: $border_round;
    border: none;
}

/*HEADER*/

.header {

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 20px;

        & img {
            max-width: 55%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        & i {
            font-size: large;
        }
    }
}

/*MAIN*/


/*FOOTER*/

footer {
    background-color: $grey_color;
    color: white;
    font-size: medium;
    padding: 20px 10px;

    & a {
        color: white;
        padding: 5px 10px;
    }
}

/*MEDIA QUERIES TABLETS*/

@media screen and (min-width: 700px) {

    footer {
        padding: 20px 30px;
    }
}