footer {
    background-color: $grey_color;
    color: white;
    font-size: medium;
    padding: 20px 10px;

    & a {
        color: white;
        padding: 5px 10px;
    }
}

/*MEDIA QUERIES TABLETS*/

@media screen and (min-width: 700px) {

    footer {
        padding: 20px 30px;
    }
}