.header {

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 20px;

        & img {
            max-width: 55%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        & i {
            font-size: large;
        }
    }
}