/*HEADER*/
.header {
    &__location {
        padding: 20px;
        background-color: adjust-color($grey_color, $lightness: 65%, );
        display: flex;
        justify-content: center;
        box-shadow: inset 0 6px 4px -4px adjust-color($grey_color, $lightness: 50%, );

        & input {
            border: none;
            background-color: adjust-color($grey_color, $lightness: 65%, );
        }
    }

    &__explore {
        background-color: adjust-color($grey_color, $lightness: 75%, );
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;

        &--button {
            padding: 15px;
            color: $white_color;
            background: $gradient;

        }
    }
}

/*MAIN*/

.howto {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__button {
        display: flex;
        align-items: center;
        padding: 23px 0px;
        gap: 25px;
        background-color: adjust-color($grey_color, $lightness: 75%, );
        margin-left: 13px;

        & i {
            color: adjust-color($grey_color, $lightness: 20%, );
        }

        &--number {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $primary_color;
            width: 25px;
            height: 25px;
            border-radius: $border_round;
            color: $white_color;
            margin: -12px;
        }

        &--text {
            display: flex;
            align-items: center;
            gap: 20px;

        }

        &:hover {
            background-color: adjust-color($primary_color, $lightness: 30%, );
            box-shadow: $shadow_big;

            & i {
                color: $primary_color;
            }
        }
    }
}

.restaurants {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: adjust-color($grey_color, $lightness: 75%, );
}

.restaurant {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__card {
        background-color: $white_color;
        min-width: 230px;
        min-height: 200px;
        border-radius: $border_card;
        box-shadow: $shadow;
        position: relative;

        &--new {
            background-color: $white_color;
            min-width: 230px;
            min-height: 200px;
            border-radius: $border_card;
            box-shadow: $shadow;
            position: relative;

            &::before {
                content: "Nouveau";
                background-color: $tertiary-color;
                color: darken($tertiary-color, $amount: 40);
                border-radius: 2px;
                position: absolute;
                right: 20px;
                top: 20px;
                padding: 5px 10px;
            }


            & img {
                max-width: 100%;
                max-height: 80%;
                object-fit: cover;
                border-top-left-radius: $border_card;
                border-top-right-radius: $border_card;
            }
        }

        & img {
            max-width: 100%;
            max-height: 80%;
            object-fit: cover;
            border-top-left-radius: $border_card;
            border-top-right-radius: $border_card;
        }

        &--body {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 10px;

            &-text {
                display: flex;
                flex-direction: column;
                gap: 3px;
            }

            &-icons {
                right: 10px;
                font-size: 25px;
                position: relative;
                display: flex;

                &-full {
                    display: none;
                    position: absolute;
                }

                &-full:hover,
                :focus-within {
                    animation: redheart 1.5s ease-out forwards;
                }

                &-empty:hover,
                :focus-within {
                    display: none;
                }
            }
        }
    }
}



/*MEDIA QUERIES TABLETS*/

@media screen and (min-width: 700px) {

    .howto {
        align-items: center;

        &__button {
            min-width: 400px;
        }
    }

    .restaurants {
        align-items: center;
    }

    .restaurant {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        &__card {
            max-width: 300px;
            min-height: 450px;

            & img {
                width: 100%;
                height: 80%;
                object-fit: cover;
            }
        }
    }
}

/*MEDIA QUERIES FULL SCREEN*/

@media screen and (min-width: 1000px) {

    .restaurant {
        flex-wrap: nowrap;

        &__card {
            min-width: 220px;

        }
    }
}