.background img {
    width: 140%;
    max-height: 100%;
    position: absolute;
}

.menu {
    position: relative;
    top: 200px;
    background-color: adjust-color($grey_color, $lightness: 75%, );
    border-top-left-radius: $border_menu;
    border-top-right-radius: $border_menu;
    padding: 0px 15px 20px 15px;


    & h1 {
        font-family: 'Shrikhand', cursive;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 15px 0px 15px;

        & i {
            font-size: 150%;
        }
    }

    &__course {
        text-transform: uppercase;
        font-size: 80%;
        padding: 20px 0px 5px 0px;
        border-bottom: 3px $tertiary_color solid;
        width: 45px;

        & h2 {
            font-weight: 200;
        }
    }

    &__details {
        padding: 15px 0px 15px 0px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__button {
        display: flex;
        align-items: flex-end;
        text-align: left;
        justify-content: space-between;
        min-height: 60px;
        padding: 8px 15px;
        border-radius: $border_details;
        background-color: $white_color;
        position: relative;
        z-index: 1;
        animation: slidein 2s forwards;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            background: $tertiary_color;
            border-top-right-radius: $border_details;
            border-bottom-right-radius: $border_details;
            z-index: -1;
        }

        &:hover::after,
        :focus-within::after {
            animation: width 1.5s ease-in-out forwards;
        }

        &:hover i {
            display: block;
            position: absolute;
            font-size: 25px;
            right: calc(9% - calc(25px/2));
            bottom: calc(50% - calc(25px/2));
            color: $white_color;
            animation: icons 1.5s forwards;
        }

        &:hover .price {
            transform: translateX(-250%);
            transition: transform 1.5s ease-in-out;

        }

        &--text h3 {
            padding: 3px 0px;
            font-size: 110%;

        }

        &--price i {
            display: none;
        }

        &--price p {
            font-weight: 400;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

        }
    }

    &__order {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0px;

    }
}

.order {
    padding: 15px 30px;
    background: $gradient;
    color: $white_color;
}

.footer__menu {
    position: relative;
    top: 200px;
}

/*MEDIA QUERIES FULL SCREEN*/

@media screen and (min-width: 500px) and (max-width:800px) {
    .menu__button:hover .price {
        transform: translateX(-500%);
        transition: transform 1.5s ease-in-out;
    }
}

@media screen and (min-width: 801px) and (max-width:999px) {
    .menu__button:hover .price {
        transform: translateX(-700%);
        transition: transform 1.5s ease-in-out;
    }
}

@media screen and (min-width: 1000px) {

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            gap: 30px;
        }

        &__course {
            border-bottom: 3px solid $tertiary_color;
            width: auto;
        }

        &__details {
            min-width: 500px;
        }

        &__button:hover .price {
            transform: translateX(-400%);
            transition: transform 1.5s ease-in-out;
        }
    }
}