.background img {
    width: 140%;
    max-height: 100%;
    position: absolute;
}

.menu {
    position: relative;
    top: 200px;
    background-color: adjust-color($grey_color, $lightness: 75%, );
    border-top-left-radius: $border_menu;
    border-top-right-radius: $border_menu;
    padding: 0px 15px 20px 15px;

    & h1 {
        font-family: 'Shrikhand', cursive;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 15px 0px 15px;

        & i {
            font-size: 150%;
        }
    }

    &__course {
        text-transform: uppercase;
        font-size: 80%;
        padding: 20px 0px 5px 0px;
        border-bottom: 3px $tertiary_color solid;
        width: 45px;

        & h2 {
            font-weight: 200;
        }
    }

    &__details {
        padding: 15px 0px 15px 0px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__button {
        display: flex;
        align-items: flex-end;
        text-align: left;
        justify-content: space-between;
        min-height: 60px;
        padding: 8px 15px;
        border-radius: $border_details;
        background-color: white;

        &--text h3 {
            padding: 3px 0px;
            font-size: 110%;
        }

        &--price p {
            font-weight: 400;
        }
    }

    &__order {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0px;

    }
}

.order {
    padding: 15px 30px;
    background: linear-gradient(to bottom right, $secondary_color, 50%, $primary_color);
    color: white;
}

.footer__menu {
    position: relative;
    top: 200px;
}

/*MEDIA QUERIES FULL SCREEN*/

@media screen and (min-width: 1000px) {

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            gap: 30px;

        }

        &__course {
            border-bottom: 3px solid $tertiary_color;
            width: auto;
        }

        &__details {
            min-width: 500px;
        }
    }
}